.feedback {
  display: flex;
}

.feedback__color-wrap {
  width: 50%;
  background-color: #102654;
}

.feedback__form-wrap {
  width: 582px;
  margin-left: auto;
  margin-right: 0;
  padding-top: 63px;
  padding-bottom: 69px;
}

.feedback__form-wrap h2 {
  @include bebasNeue;
  margin-top: 0;
  margin-bottom: 27px;
  margin-left: 2px;
  font-size: 49px;
  font-weight: normal;
  line-height: 64px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.feedback__form {
  width: 414px;
}

.feedback__form-input-wrap {
  display: flex;
  justify-content: space-between;
  margin-right: 3px;
}

.feedback__form input {
  @include roboto;
  box-sizing: border-box;
  width: 190px;
  height: 31px;
  padding-top: 4px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  color: #ffffff;
  border: 1px solid transparent;
  border-bottom: 1px solid #74819c;
  border-radius: 0;
  background-color: transparent;
  outline: none;
}

.feedback__form-input {
  position: relative;
  width: 190px;
  margin-bottom: 28px;
  box-sizing: border-box;

  & label {
    position: absolute;
    top: 8px;
    left: 50%;
    margin-left: -93px;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    color: #ffffff;
    transition: 0.5s;
    pointer-events: none;
  }
}

.feedback__form-input input:focus ~ label,
.feedback__form-input input:valid ~ label {
  top: -12px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  display: none;
}

.feedback__form-button {
  @include button;
  width: 413px;
  min-height: 55px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;

  &:hover,
  &:focus {
    background-color: #74819c;
  }

  &:active {
    color: $text-color;
  }
}

.feedback__form-input input[type="number"]::-webkit-inner-spin-button,
.feedback__form-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.feedback__form-input input[type="number"] {
  -moz-appearance: textfield;
}

.feedback__contacts-block {
  width: 582px;
  padding-top: 70px;
  padding-left: 121px;
  box-sizing: border-box;
}

.feedback__contacts {
  width: 50%;
  border-top: 1px solid #74819c;
}

.feedback__contacts h2 {
  @include bebasNeue;
  margin-top: 0;
  margin-bottom: 39px;
  font-size: 49px;
  font-weight: bold;
  line-height: 49px;
  color: $text-color;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.feedback__contacts-wrap {
  position: relative;
  display: flex;

  &::after {
    @include pseudo;
    top: 6px;
    left: 50%;
    width: 1px;
    height: 102px;
    margin-left: 0.5%;
    background-color: #74819c;
  }
}

.feedback__address-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 120px;
  padding-bottom: 10px;
}

.feedback__address {
  padding-bottom: 10px;
}

.feedback__tel-wrap {
  display: flex;
  flex-direction: column;
}

.feedback__contacts-wrap h3 {
  @include roboto;
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 16px;
  font-weight: bold;
  min-height: 24px;
  color: $text-color;
}

.feedback__contacts-wrap p {
  @include roboto;
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: normal;
  min-height: 21px;
  color: $text-color;
}

.feedback__link {
  @include roboto;
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: $text-color;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    border-bottom: 1px solid $text-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.feedback__tel {
  margin-bottom: 17px;
}

@media (max-width: $desktop-width) {
  .feedback {
    flex-direction: column;
    padding-bottom: 46px;
  }

  .feedback__color-wrap {
    width: 100%;
  }

  .feedback__form-wrap {
    width: 506px;
    margin: 0 auto;
    padding-top: 71px;
  }

  .feedback__form-wrap h2 {
    margin-bottom: 28px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.4px;
  }

  .feedback__form {
    width: 475px;
    margin-right: 146px;
  }

  .feedback__form-input {
    width: 208px;
  }

  .feedback__form input {
    width: 208px;
  }

  .feedback__form-input label {
    margin-left: -102px;
  }

  .feedback__form-button {
    width: 475px;
  }

  .feedback__contacts {
    width: 100%;
    border-top: none;
  }

  .feedback__contacts-block {
    width: 768px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 45px;
  }

  .feedback__contacts h2 {
    margin-bottom: 31px;
    margin-left: 4px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.2px;
  }

  .feedback__contacts-wrap p {
    width: 266px;
    font-size: 18px;
    line-height: 27px;
  }

  .feedback__contacts-wrap h3 {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 30px;
  }

  .feedback__address {
    padding-bottom: 13px;
  }

  .feedback__address-wrap {
    margin-right: 48px;
  }

  .feedback__link {
    font-size: 18px;
    line-height: 27px;
  }

  .feedback__tel {
    margin-bottom: 20px;
  }

  .feedback__contacts-wrap::after {
    height: 129px;
    top: 8px;
    margin-left: -4.6%;
  }
}

@media (max-width: $tablet-width) {
  .feedback {
    padding-bottom: 63px;
  }

  .feedback__form {
    width: 290px;
    margin: 0 auto;
  }

  .feedback__form-wrap {
    width: 290px;
    padding-top: 70px;
  }

  .feedback__form-wrap h2 {
    margin-bottom: 31px;
    margin-left: -1px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.1px;
  }

  .feedback__form-input-wrap {
    flex-direction: column;
    margin-bottom: 11px;
  }

  .feedback__form-input {
    width: 290px;
  }

  .feedback__form input {
    width: 290px;
  }

  .feedback__form-input label {
    margin-left: -143px;
  }

  .feedback__form-button {
    width: 290px;
    margin: 0 auto;
  }

  .feedback__contacts-block {
    width: 320px;
    padding-top: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feedback__contacts-wrap {
    flex-direction: column;
  }

  .feedback__contacts-wrap::after {
    display: none;
  }

  .feedback__contacts h2 {
    margin-bottom: 33px;
    margin-left: 0;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.1px;
  }

  .feedback__address-wrap {
    margin-bottom: 4px;
    margin-left: 0;
    margin-right: 0;
  }
}
