.footer {
  padding-top: 42px;
  padding-bottom: 32px;
  background-color: #030a1a;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  @include bebasNeue;
  display: block;
  margin-top: 3px;
  margin-right: 22px;
  font-size: 26px;
  line-height: 26px;
  color: #ffffff;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    opacity: 0.7;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 431px;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.footer__nav-item {
  margin-right: 40px;

  &:nth-child(5n) {
    margin-right: 0;
  }
}

.footer__nav-link {
  @include roboto;
  margin-top: 0;
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $desktop-width) {
  .footer {
    padding-top: 44px;
  }

  .footer__logo {
    font-size: 24px;
    line-height: 24px;
  }

  .footer__nav-list {
    width: 57.5%;
    margin-left: -4px;
  }

  .footer__nav-item {
    margin-right: 30px;
  }
}

@media (max-width: $tablet-width) {
  .footer {
    padding-top: 47px;
    padding-bottom: 42px;
  }

  .footer__nav-list {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    justify-content: flex-end;
    width: 290px;
    height: 108px;
    margin-left: 1px;
    margin-top: -23px;
    margin-bottom: 33px;
    z-index: 1;
  }

  .footer__wrap {
    position: relative;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    position: relative;
    width: 68px;
    height: 15px;
    margin-left: -200px;
    font-size: 20px;
    line-height: 20px;
    z-index: 2;
  }

  .footer__nav-item-1 {
    order: 5;
    margin-bottom: 16px;
  }

  .footer__nav-item-2 {
    order: 5;
    margin-right: 30px;
  }

  .footer__nav-item-3 {
    order: 2;
    margin-bottom: 16px;
  }

  .footer__nav-item-4 {
    order: 3;
    margin-bottom: 16px;
  }

  .footer__nav-item-5 {
    order: 4;
  }

  .footer__nav-link {
    font-size: 16px;
    line-height: 19px;
  }
}
