.gym {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 234px;
  padding-left: 60px;
  padding-right: 0;
}

.gym__description {
  padding-top: 49px;
}

.gym__description h2 {
  @include bebasNeue;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 49px;
  font-weight: 600;
  line-height: 49px;
  color: $text-color;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.gym__description span {
  @include roboto;
  display: block;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  color: $text-color;
}

.gym__description p {
  @include roboto;
  display: block;
  width: 359px;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: $text-color;
}

.gym img {
  display: block;
  width: 660px;
  height: 401px;
}

.gym__video {
  position: relative;
}

.gym video {
  @include pseudo;
  top: -178px;
  left: -63px;
  width: 364px;
  height: 358px;
}

.gym__video-play {
  @include pseudo;
  top: -49px;
  left: 69px;
  width: 100px;
  height: 100px;
  background-image: url("../img/play-button.svg");
  background-repeat: no-repeat;
  z-index: 1;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}

@media (max-width: $desktop-width) {
  .gym {
    flex-direction: column;
    padding-top: 53px;
    padding-bottom: 181px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .gym__description h2 {
    font-size: 42px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 1.5px;
  }

  .gym__description span {
    margin-bottom: 35px;
    text-align: center;
  }

  .gym__description p:last-child {
    display: none;
  }

  .gym__description p {
    width: 75.5%;
    max-width: 779px;
    margin: 0 auto;
    margin-bottom: 43px;
    text-align: center;
  }

  .gym img {
    width: 678px;
    height: 345px;
    margin: 0 auto;
  }

  .gym video {
    top: -84px;
    left: 50%;
    width: 266px;
    height: 167px;
    margin-left: -133px;
  }

  .gym__video-play {
    top: -37px;
    left: 50%;
    width: 73px;
    height: 73px;
    margin-left: -38px;
  }
}

@media (max-width: $tablet-width) {
  .gym {
    padding-top: 21px;
    padding-left: 0;
    padding-right: 0;
  }

  .gym__description h2 {
    margin-bottom: 4px;
    padding-left: 4.6%;
    padding-right: 4.6%;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    letter-spacing: 1.1px;
  }

  .gym__description span {
    margin-bottom: 25px;
    padding-left: 4.6%;
    padding-right: 4.6%;
    text-align: left;
  }

  .gym__description p {
    box-sizing: border-box;
    width: 90%;
    margin-bottom: 33px;
    padding-right: 22px;
    text-align: left;
  }

  .gym img {
    width: 320px;
    height: 313px;
  }

  .gym video {
    top: 40px;
    width: 320px;
    margin-left: -160px;
    object-fit: fill;
  }

  .gym__video-play {
    top: 86px;
    margin-left: -35px;
  }
}

