.promo {
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 60px;
}

.promo__wrap {
  box-sizing: border-box;
  width: 500px;
  padding-top: 80px;
  padding-bottom: 85px;
  padding-left: 76px;
  padding-right: 76px;
  background-color: #ed0233;
}

.promo__img {
  width: 660px;
  background-repeat: no-repeat;
  background-size: 660px 500px;
  background-color: #020146;
}

.no-webp .promo__img,
.no-js .promo__img {
  background-image: url("../img/promo_desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo_desktop@2x.png");
  }
}

.webp .promo__img {
  background-image: url("../img/promo_desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/promo_desktop@2x.webp");
  }
}

.promo__wrap h2 {
  @include bebasNeue;
  width: 201px;
  margin-top: 8px;
  margin-bottom: 0;
  margin-left: 2px;
  margin-right: 50px;
  font-size: 90px;
  font-weight: 500;
  line-height: 90px;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 3.4px;
}

.promo__date-wrap {
  display: flex;
  margin-bottom: 1px;
}

.promo__date h3 {
  @include roboto;
  position: relative;
  margin-top: 0;
  margin-bottom: -5px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #ffffff;

  &::after {
    @include pseudo;
    top: 32px;
    left: 0;
    width: 64px;
    height: 1px;
    background-color: #ffffff;
  }
}

.promo__date--line-width h3::after {
  width: 88px;
}

.promo__date time {
  @include roboto;
  margin-right: 3px;
  font-size: 39px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 1.4px;
  color: #ffffff;
}

.promo__date-span {
  @include roboto;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.promo__date {
  margin-bottom: 8px;
}

.promo__wrap p {
  @include roboto;
  margin-top: 0;
  margin-bottom: 46px;
  margin-left: 1px;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.promo__link {
  @include button;
  display: block;
  width: 347px;
  height: 71px;
  padding-top: 25px;
  border: 4px solid #ffffff;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: $desktop-width) {
  .promo {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .promo__wrap {
    width: 43%;
    padding-top: 47px;
    padding-bottom: 50px;
    padding-left: 6.3%;
    padding-right: 6.3%;
  }

  .promo__img {
    width: 386px;
    background-size: 386px 292px;
  }

  .no-webp .promo__img,
  .no-js .promo__img {
    background-image: url("../img/promo_tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo_tablet@2x.png");
    }
  }

  .webp .promo__img {
    background-image: url("../img/promo_tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo_tablet@2x.webp");
    }
  }

  .promo__wrap h2 {
    width: 57%;
    margin-top: 5px;
    margin-right: 14%;
    font-size: 52px;
    line-height: 52px;
    letter-spacing: 2px;
  }

  .promo__date h3 {
    margin-bottom: -6px;
    font-size: 12px;
    line-height: 18px;

    &::after {
      top: 19px;
      width: 42px;
    }
  }

  .promo__date--line-width h3::after {
    width: 56px;
  }

  .promo__date time {
    margin-right: -1px;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.5px;
  }

  .promo__date-span {
    font-size: 10px;
    line-height: 12px;
  }

  .promo__date {
    margin-bottom: -1px;
    margin-right: 4px;
  }

  .promo__wrap p {
    margin-bottom: 30px;
    font-size: 12px;
    line-height: 18px;
  }

  .promo__date-wrap {
    margin-bottom: -3px;
  }

  .promo__link {
    width: 99.5%;
    height: 41px;
    padding-top: 13px;
    font-size: 10px;
    line-height: 12px;
    border: 2px solid #ffffff;
  }
}

@media (max-width: $tablet-width) {
  .promo {
    flex-direction: column;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 35px;
  }

  .promo__wrap {
    width: 100%;
    padding-left: 14.3%;
    padding-right: 14.3%;
  }

  .promo__img {
    width: 100%;
    min-height: 292px;
    background-size: 290px 292px;
    background-position: 50% 0;
  }

  .no-webp .promo__img,
  .no-js .promo__img {
    background-image: url("../img/promo_mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo_mobile@2x.png");
    }
  }

  .webp .promo__img {
    background-image: url("../img/promo_mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/promo_mobile@2x.webp");
    }
  }
}
