.proposals {
  padding-top: 120px;
  padding-bottom: 60px;
}

.proposals h2 {
  @include bebasNeue;
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 49px;
  font-weight: 600;
  line-height: 49px;
  color: $text-color;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.proposals__wrap {
  display: flex;
  justify-content: space-between;
}

.proposals__year-wrap {
  display: flex;
}

.proposals__year {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 34px;
  padding-bottom: 27px;
  padding-left: 46px;
  padding-right: 20px;
  box-sizing: border-box;
  background-color: #ed0233;
}

.proposals__year h3 {
  @include roboto;
  margin-top: 0;
  margin-bottom: -25px;
  font-size: 28px;
  font-weight: bold;
  line-height: 44px;
  color: #ffffff;
}

.proposals__year span {
  @include roboto;
  margin-bottom: -2px;
  font-size: 70px;
  font-weight: bold;
  line-height: 109px;
  color: #ffffff;
}

.proposals__year p {
  @include roboto;
  width: 190px;
  margin-top: 0;
  margin-bottom: 189px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #ffffff;
}

.proposals__year-link {
  display: block;
  width: 79px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(#ffffff, #ffffff) no-repeat;
  background-size: 100% 1px;
  background-position: -1px 17px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $text-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.proposals__img {
  width: 280px;
  height: 462px;
  background-color: #4169da;
  background-size: 280px 462px;
}

.no-webp .proposals__img,
.no-js .proposals__img {
  background-image: url("../img/proposal_desktop@1x.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/proposal_desktop@2x.png");
  }
}

.webp .proposals__img {
  background-image: url("../img/proposal_desktop@1x.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/proposal_desktop@2x.webp");
  }
}

.proposals__start {
  display: flex;
  flex-direction: column;
}

.proposals__sail {
  width: 560px;
  min-height: 211px;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-left: 28px;
  padding-right: 20px;
  margin-bottom: 40px;
  border: 7px solid transparent;
  box-sizing: border-box;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(-45deg, #003eb7, #ed0233 -150%, #003eb7 96%);
  background-size: cover;
  background-clip: padding-box, border-box;

  &:last-child {
    margin-bottom: 0;
  }
}

.proposals__start h3 {
  @include roboto;
  margin-top: 0;
  margin-bottom: 9px;
  font-size: 26px;
  font-weight: bold;
  line-height: 28px;
  color: $text-color;
}

.proposals__start p {
  @include roboto;
  margin-top: 0;
  margin-bottom: 71px;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: $text-color;
}

.proposals__sail-link {
  display: block;
  width: 68px;
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 0.6px;
  color: $text-color;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient($text-color, $text-color) no-repeat;
  background-size: 100% 1px;
  background-position: 0 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #003eb7;
  }

  &:active {
    opacity: 0.7;
  }
}

@media (max-width: $desktop-width) {
  .proposals {
    padding-top: 101px;
    padding-bottom: 30px;
  }

  .proposals h2 {
    margin-bottom: 39px;
    margin-left: -1px;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.6px;
  }

  .proposals__wrap {
    flex-direction: column;
    align-items: center;
  }

  .proposals__img {
    width: 399px;
    background-size: 399px 462px;
  }

  .no-webp .proposals__img,
  .no-js .proposals__img {
    background-image: url("../img/proposal_tablet@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/proposal_tablet@2x.png");
    }
  }

  .webp .proposals__img {
    background-image: url("../img/proposal_tablet@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/proposal_tablet@2x.webp");
    }
  }

  .proposals__year {
    width: 279px;
  }

  .proposals__year-wrap {
    margin-bottom: 30px;
  }

  .proposals__start {
    flex-direction: row;
  }

  .proposals__sail {
    width: 324px;
    margin-bottom: 20px;
    margin-right: 30px;

    &:nth-child(2n) {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }

  .proposals__start p {
    width: 153px;
    margin-bottom: 49px;
  }

  .proposals__sail--company p {
    width: 100%;
    margin-bottom: 71px;
  }
}

@media (max-width: $tablet-width) {
  .proposals {
    padding-top: 69px;
    padding-bottom: 35px;
  }

  .proposals h2 {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.1px;
  }

  .proposals__year-wrap {
    flex-direction: column;
  }

  .proposals__year {
    width: 100%;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 37px;
  }

  .proposals__year span {
    margin-bottom: -7px;
  }

  .proposals__year p {
    width: 76%;
    margin-bottom: 31px;
    text-align: center;
  }

  .proposals__img {
    width: 290px;
    height: 299px;
    margin: 0 auto;
    background-size: 290px 299px;
  }

  .no-webp .proposals__img,
  .no-js .proposals__img {
    background-image: url("../img/proposal_mobile@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/proposal_mobile@2x.png");
    }
  }

  .webp .proposals__img {
    background-image: url("../img/proposal_mobile@1x.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/proposal_mobile@2x.webp");
    }
  }

  .proposals__start {
    flex-direction: column;
    align-items: center;
  }

  .proposals__sail {
    width: 96.9%;
    margin-bottom: 30px;
    margin-right: 0;
    padding-top: 34px;
    padding-left: 20px;
  }

  .proposals__start h3 {
    margin-bottom: 10px;
    text-align: center;
  }

  .proposals__start p {
    width: 71%;
    margin: 0 auto;
    margin-bottom: 26px;
    text-align: center;
  }

  .proposals__sail-link {
    margin: 0 auto;
  }
}
