.slider {
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;
}

.slider h2 {
  @include bebasNeue;
  margin-top: 0;
  margin-bottom: 50px;
  margin-left: 1px;
  font-size: 49px;
  font-weight: 600;
  line-height: 49px;
  color: $text-color;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider__wrap {
  position: relative;
  width: 1160px;
  height: 294px;
  margin: 0 auto;
  overflow: hidden;
}

.slider__slide-line {
  width: auto;
  height: 294px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: all ease 1s;
  font-size: 0;
}

.slider__slide {
  position: relative;
  display: inline-block;
  width: 290px;
  height: 294px;
}

.slider__slide img {
  display: block;
  width: 290px;
  height: 294px;
  background-color: #bdc7d7;
}

.slider__controler {
  @include pseudo;
  top: 290px;
  left: 50%;
  width: 16px;
  height: 32px;
  border: none;
  background-size: 16px 32px;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;

  &--prev {
    margin-left: -636px;
    background-image: url("../img/prev-arrow.svg");
  }

  &--next {
    margin-left: 621px;
    background-image: url("../img/next-arrow.svg");
  }

  &:hover,
  &focus {
    transform: scale(1.5);
  }

  &:active {
    transform: scale(1);
  }
}

.slider__slide h3 {
  @include pseudo;
  @include roboto;
  top: 229px;
  left: 50%;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: -67px;
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  color: #ffffff;
}

.slider__slide--coach-4 h3 {
  margin-left: -38px;
}

.slider__slide-info {
  @include pseudo;
  display: none;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 50%;
  width: 260px;
  height: 294px;
  margin-left: -145px;
  padding-top: 36px;
  background-color: rgba(16, 38, 84, 0.89);

  &--coach-2 {
    margin-left: -135px;
  }

  &--coach-3 {
    margin-left: -125px;
  }

  &--coach-4 {
    margin-left: -115px;
  }
}

.slider__slide:hover > h3 {
  display: none;
}

.slider__slide:hover > .slider__slide-info {
  display: flex;
}

.slider__slide-info h3 {
  position: relative;
  width: 150px;
  top: 0;
  margin-bottom: -3px;
  margin-left: -218px;
}

.slider__slide-info--coach-3 h3 {
  margin-left: -255px;
}

.slider__slide-info span {
  @include roboto;
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 24px;
  color: #b6bdcc;
}

.slider__slide-item {
  @include roboto;
  position: relative;
  width: 160px;
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  list-style: none;

  &::before {
    position: absolute;
    content: "•";
    top: 2px;
    left: -16px;
    font-size: 22px;
  }
}

.slider__slide-list {
  padding-left: 40px;
}

@media (max-width: $desktop-width) {
  .slider {
    padding-top: 51px;
    padding-bottom: 100px;
  }

  .slider h2 {
    margin-bottom: 39px;
    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  .slider__wrap {
    width: 566px;
  }

  .slider__slide {
    width: 283px;
  }

  .slider__slide img {
    width: 283px;
  }

  .slider__controler {
    top: 263px;

    &--prev {
      margin-left: -340px;
    }

    &--next {
      margin-left: 323px;
    }
  }

  .slider__slide-info {
    width: 268px;
    margin-left: -142px;

    &--coach-2 {
      margin-left: -127px;
    }

    &--coach-3 {
      margin-left: -142px;
    }

    &--coach-4 {
      margin-left: -127px;
    }
  }

  .slider__slide-info h3 {
    margin-left: -230px;
  }

  .slider__slide-info--coach-3 h3 {
    margin-left: -270px;
  }

  .slider__slide-info span {
    margin-left: -7px;
    margin-bottom: 32px;
  }

  .slider__slide-list {
    padding-left: 35px;
  }

  .slider__slide-item::before {
    top: 1px;
    left: -17px;
  }

  .slider__slide-line {
    transition: none;
  }
}

@media (max-width: $tablet-width) {
  .slider {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  .slider h2 {
    margin-bottom: 42px;
    margin-left: -1px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 1.3px;
  }

  .slider__wrap {
    width: 226px;
    height: 274px;
  }

  .slider__slide {
    width: 226px;
    height: 274px;
  }

  .slider__slide img {
    width: 226px;
    height: 274px;
  }

  .slider__controler {
    top: 237px;
    width: 10px;
    height: 19px;
    background-size: 10px 19px;

    &--prev {
      margin-left: -145px;
    }

    &--next {
      margin-left: 135px;
    }
  }

  .slider__slide h3 {
    top: 210px;
    margin-left: -54px;
  }

  .slider__slide--coach-2 h3 {
    margin-left: -62px;
  }

  .slider__slide--coach-3 h3 {
    margin-left: -73px;
  }

  .slider__slide-info {
    width: 226px;
    margin-left: -113px;

    &--coach-2 {
      margin-left: -113px;
    }

    &--coach-3 {
      margin-left: -113px;
    }

    &--coach-4 {
      margin-left: -113px;
    }
  }

  .slider__slide-info h3 {
    top: -10px;
    margin-bottom: -13px;
    margin-left: -182px;
  }

  .slider__slide-info--coach-2 h3 {
    margin-left: -197px;
  }

  .slider__slide-info--coach-3 h3 {
    margin-left: -210px;
  }

  .slider__slide-info span {
    margin-left: 0;
    margin-bottom: 32px;
  }
}
