@font-face {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotoCondensed-Bold.woff2") format("woff2"), url("../fonts/robotoCondensed-Bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/robotoCondensed-Regular.woff2") format("woff2"), url("../fonts/robotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/bebasNeue-Regular.woff2") format("woff2"), url("../fonts/bebasNeue-Regular.woff") format("woff");
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Condensed", "Bebas Neue", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #ffffff;
}

.main {
  flex: 1 0 auto;
  overflow-x: hidden;
}

.footer {
  flex-shrink: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: $desktop-width) {
  .container {
    min-width: 678px;
    max-width: 1159px;
    margin: 0 auto;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    min-width: 290px;
    max-width: 650px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
