@mixin pseudo {
  position: absolute;
  content: "";
}

@mixin roboto {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

@mixin bebasNeue {
  font-family: "Bebas Neue", "Arial", sans-serif;
  font-weight: normal;
}

@mixin button {
  @include roboto;
  box-sizing: border-box;
  padding-top: 20px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.6px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
