@import "common/variables.scss";
@import "common/mixins.scss";
@import "common/global.scss";
@import "blocks/page-header.scss";
@import "blocks/gym.scss";
@import "blocks/subscriptions.scss";
@import "blocks/promo.scss";
@import "blocks/swiper.min.scss";
@import "blocks/slider.scss";
@import "blocks/advantages.scss";
@import "blocks/proposals.scss";
@import "blocks/review.scss";
@import "blocks/feedback.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
